# put this file into /etc/systemd/system/

[Unit]
Description=Simple app causing a relay to open or close based on a heatpump state (equipped with luxtronik 2.0 regulation).
After=network.target

[Service]
User=root
Group=root
Type=simple
WorkingDirectory=/opt/relay-switcher
ExecStart=/usr/bin/python3 relay-switcher.py
Restart=always

[Install]
WantedBy=multi-user.target
