# put this file into /etc/systemd/system/

[Unit]
Description=Simple app causing a relay to open or close based on a heatpump state (equipped with luxtronik 2.0 regulation).
After=network.target

[Service]
User=rpi
Group=rpi
Type=simple
WorkingDirectory=/home/rpi/relay-switcher
ExecStart=/usr/bin/python3 /home/rpi/relay-switcher/relay-switcher.py
Restart=always

[Install]
WantedBy=multi-user.target
