<!DOCTYPE html>
<html>
<head>
    <title>Ovládání cirkulace čerpadla podlahového topení</title>
    <meta http-equiv="refresh" content="5">
    <meta charset="UTF-8">
</head>
<body>
    <h1>Režim tepelného čerpadla: {{ state_name }}</h1>
    <h1>Oběhové čerpadlo PT: {% if relay_opened %}Stojí{% else %}Běží{% endif %}</h1>
    <h1>Ovládání chodu čerpadla PT: {% if manual_mode %}Manuální{% else %}Automatika{% endif %}</h1>
    <h1>Perioda obnovení: {{ refresh_rate }} s</h1>
    <form action="/toggle" method="post">
        <button type="submit" name='onoff'>{% if relay_opened %}Zapnout{% else %}Vypnout{% endif %}</button>
        <button type="submit" name='auto' {% if not manual_mode %}disabled="true"{% endif %}>Auto</button>
    </form>
</body>
</html>
